<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/user.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>User</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light nav-area">
      <a href="/" >Pic Design</a>
      <div class="left-nav ">
        {% if session['admin_logged'] %}
          <a>Welcome, {{session['admin_name']}}!</a>
          |
          <a id="logout-button" href="/admin_logout">logout</a>
        {% else %}
          <a href="/admin_login">Login</a>
        {% endif %}
      </div>
    </nav>
    <section class="user-container row">
      <div class="col-lg-3 user-info-area">
        <h5 class="mt-1 mb-3">Freepix Manager</h5>
        <a class="btn btn-primary mb-2 form-control text-left active" href="/admin_page/waiting">
          <i class="fas fa-ban mr-2"></i>
          <span>Waiting Post</span>
        </a>
        <br>
        <a class="btn btn-primary mb-2 form-control text-left" href="/admin_page/checked">
          <i class="fas fa-check mr-2"></i>
          <span>Checked Post</span>
        </a>
        <br>
        {% if session['is_admin'] == true %}
          <a class="btn btn-primary mb-2 form-control text-left" href="/admin_page/admin_manager">
              <i class="fas fa-user-shield mr-2"></i>
              <span>Admin Manager</span>
          </a>
        {% endif %}
      </div>
      <!-- start main content -->

      <div class="col-lg-9 stock-container-main">
        <div class="stock-container masonry mx-auto">
            {% for post in posts %}
              {% if post.check == False %}
                <a class="card-box masonry-brick" href="/detail/{{post._id}}">
                  <div class="card-box-overlay">
                    <p id='overlay-title'>{{post.title}}</p>
                  </div>
                  <img class="card-image" src="../static/image/{{post.thumbnail}}" >
                </a>
              {% endif %}
            {% endfor %}
        </div>
      </div>

      <!-- end main content -->
    </section>
    <footer class="footer-area bg-dark">
      <div class="row">
        <div class="col-lg-3">
          <h3>CONTENT</h3>
          <p>New resources</p>
          <p>The most popular content</p>
          <p>Search trands</p>
          <p>Blog</p>
        </div>
        <div class="col-lg-3">
          <h3>INFORMATION</h3>
          <p>Plans & pricing</p>
          <p>About us</p>
          <p>Jobs</p>
          <p>Become a contributor</p>
          <p>Shutterstock promo code</p>
        </div>
        <div class="col-lg-3">
          <h3>LEGAL</h3>
          <p>Terms & conditions</p>
          <p>Privacy policy</p>
          <p>Copyright information</p>
          <p>Cookies policy</p>
        </div>
        <div class="col-lg-3">
          <h3>Social</h3>
          <i class="fab fa-facebook-square"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-twitter-square"></i>
        </div>
      </div>
    </footer>
    <footer class="bottom-footer-area bg-dark text-right">
      <p class="bottom-text">Copyright ©  2010-2019 All rights reserved.</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
