<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/user.css">
    <link rel="stylesheet" href="../static/css/admin_admin_manager.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light nav-area">
      <a href="/" >Pic Design</a>
      <div class="left-nav ">
        {% if session['admin_logged'] %}
          <a>Welcome, {{session['admin_name']}}!</a>
          |
          <a id="logout-button" href="/admin_logout">logout</a>
        {% else %}
          <a href="/admin_login">Login</a>
        {% endif %}
      </div>
    </nav>
    <section class="user-container row">
      <div class="col-lg-3 user-info-area">
        <h5 class="mt-1 mb-3">Freepix Manager</h5>
        <a class="btn btn-primary mb-2 form-control text-left" href="/admin_page/waiting">
            <i class="fas fa-ban mr-2"></i>
            <span>Waiting Post</span>
        </a>
        <br>
        <a class="btn btn-primary mb-2 form-control text-left" href="/admin_page/checked">
            <i class="fas fa-check mr-2"></i>
            <span>Checked Post</span>
        </a>
        <br>
        {% if session['is_admin'] == true %}
          <a class="btn btn-primary mb-2 form-control text-left active" href="/admin_page/admin_manager">
              <i class="fas fa-user-shield mr-2"></i>
              <span>Admin Manager</span>
          </a>
        {% endif %}
      </div>
      <!-- start main content -->

      <div class="col-lg-9 stock-container-main">
        <div class="pr-5">
          <input id='admin-manager-search' class="form-control d-inline" type="text" placeholder="search by name eg: minh, ..."> 
          <button id='add-censor-btn' class="btn btn-primary float-right">Add Censor</button>
        </div>
        
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                    <th scope="col">Type</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody id='admin-data-table'>
                <!-- js load data -->
            </tbody>
        </table>
      </div>

      <!-- end main content -->
    </section>
    <footer class="footer-area bg-dark">
      <div class="row">
        <div class="col-lg-3">
          <h3>CONTENT</h3>
          <p>New resources</p>
          <p>The most popular content</p>
          <p>Search trands</p>
          <p>Blog</p>
        </div>
        <div class="col-lg-3">
          <h3>INFORMATION</h3>
          <p>Plans & pricing</p>
          <p>About us</p>
          <p>Jobs</p>
          <p>Become a contributor</p>
          <p>Shutterstock promo code</p>
        </div>
        <div class="col-lg-3">
          <h3>LEGAL</h3>
          <p>Terms & conditions</p>
          <p>Privacy policy</p>
          <p>Copyright information</p>
          <p>Cookies policy</p>
        </div>
        <div class="col-lg-3">
          <h3>Social</h3>
          <i class="fab fa-facebook-square"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-twitter-square"></i>
        </div>
      </div>
    </footer>
    <footer class="bottom-footer-area bg-dark text-right">
      <p class="bottom-text">Copyright ©  2010-2019 All rights reserved.</p>
    </footer>


    <!-- addition html -->

    <!-- modal -->
    <div id='admin_deactivate' class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <p id='admin_deactivate_title' class="text-danger"> </p>
            </div>
            <div class="modal-footer">
              <button id='confirm-deactivate-btn' type="button" class="btn btn-warning">Confirm</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div id='admin_edit' class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" style="max-width: 400px; top: 5vh;" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div>
                <input id='admin-name' class="form-control" type="text" placeholder="User: dat" disabled>
                <input id='admin-password' class="form-control" style="margin-top: 10px;" type="password" placeholder="New Password">
                <div class="invalid-feedback">
                  Please choose a Password
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button id='confirm-edit-btn' type="button" class="btn btn-warning">Update</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


      <div id='admin_create' class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" style="max-width: 400px; top: 5vh;" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div>
                <input id='new-admin-name' class="form-control" type="text" placeholder="New Censor Name">
                <div id='admin-name-warn' class="invalid-feedback">
                  
                </div>
                <input id='new-admin-password' class="form-control" style="margin-top: 10px;" type="password" placeholder="New Censor Password">
                <div id='admin-password-warn' class="invalid-feedback">
                  
                </div>
                
              </div>
            </div>
            <div class="modal-footer">
              <button id='confirm-create-btn' type="button" class="btn btn-warning">Create</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../static/js/admin_admin_manager.js"></script>
</body>
</html>
