<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/detail.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Detail</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light nav-area">
      <a href="/" >Pic Design</a>
      <div class="left-nav ">
        {% if session['loggedin'] %}
          <a href="/upload">upload</a>
          |
          <a href="/user/{{session['ids']}}">hello, {{session['username']}}!</a>
          |
          <a id="logout-button" href="/logout">logout</a>
        {% else %}
          <a href="/login">Login</a>
        {% endif %}
      </div>
    </nav>
    <section class="detail-container row">
      <div class="detail-preview col-lg-9">
        <img class="preview-img" src="../static/image/{{post_info.thumbnail}}" alt="">
      </div>
      <div class="detail-sidebar col-lg-3">
        <div class="info-area">
          <h5>Title</h5>
          <p>{{post_info.title}}</p>
          <h5>Type</h5>
          <p>{{post_info.type}}</p>
        </div>
        <div class="author-area">
          <h5>Author</h5>
          <a href="/user/{{post_info.author.id}}">{{post_info.author.username}}</a>
        </div>
        <div class="row interact-area">
          <div class="col-lg-3 text-center like-container">
            <span class="like-number">{{like}}
              {% if session['loggedin'] %}
                {% if session['username'] in post_info.like %}
                  <a href="/post_dislike/{{post_info._id}}/{{session['username']}}">
                    <i class="fa fa-heart full-heart-icon"></i>
                  </a>
                {% else %}
                  <a href="/post_like/{{post_info._id}}/{{session['username']}}">
                    <i class="far fa-heart heart-icon"></i>
                  </a>
                {% endif %}
              {% else %}
                <a href="/login">
                  <i class="far fa-heart heart-icon"></i>
                </a>
              {% endif %}
              
            </span>
          </div>

          <!-- download check usr -->
          
          {% if session['ids'] or session['admin_logged'] %}
            {% if usr_id == session['ids'] or session['admin_ids'] %}
              <div class="col-lg-6" style="padding-right: 0px">
                <a href="/download/{{post_info.thumbnail}}" class="btn btn-success form-control">Download</a>
              </div>
              <div class="col-lg-3 delete-container">
                <a href="/post_delete/{{post_info._id}}" class="btn btn-danger form-control">
                  <i class="far fa-trash-alt"></i>
                </a>
              </div>
            {% else %}
              <div class="col-lg-9 download-container">
                <a href="/download/{{post_info.thumbnail}}" class="btn btn-success form-control">Download</a>
              </div>
            {% endif %}
          {% else %}
            <div class="col-lg-9 download-container">
              <a href="/login" class="btn btn-success form-control">Download</a>
            </div>
          {% endif %}
        </div>

        {% if session['admin_logged'] %}
          <div class="admin-interact text-center">
            {% if post_info.check == False %}
              <div class="col-lg-10 mx-auto mb-2">
                <a href="/post_allow/{{post_info._id}}" class="btn btn-primary bt-lg form-control">Allow Post</a>
                <br>
                <a href="/admin_page/waiting">Manager Page</a>
              </div>
            {% else %}
              <div class="col-lg-10 mx-auto">
                <a href="/post_ban/{{post_info._id}}" class="btn btn-danger bt-lg form-control">Ban Post</a>
                <a href="/admin_page/waiting">Manager Page</a>
              </div>
            {% endif %}
          </div>
        {% endif %}

        <div class="comment-area">
          {% if session['loggedin'] %}  
            <input contenteditable id='comment-input' class="form-control" type="text" placeholder="Enter your comment" required>
          {% else %}
            <a href="/login">Login to comment</a>
          {% endif %}
          <div id='comment-container' class="comment-container">
            <!-- jquery insert -->
          </div>  
        </div>
        

      </div>
    </section>
    <footer class="footer-area bg-dark">
      <div class="row">
        <div class="col-lg-3">
          <h3>CONTENT</h3>
          <p>New resources</p>
          <p>The most popular content</p>
          <p>Search trands</p>
          <p>Blog</p>
        </div>
        <div class="col-lg-3">
          <h3>INFORMATION</h3>
          <p>Plans & pricing</p>
          <p>About us</p>
          <p>Jobs</p>
          <p>Become a contributor</p>
          <p>Shutterstock promo code</p>
        </div>
        <div class="col-lg-3">
          <h3>LEGAL</h3>
          <p>Terms & conditions</p>
          <p>Privacy policy</p>
          <p>Copyright information</p>
          <p>Cookies policy</p>
        </div>
        <div class="col-lg-3">
          <h3>Social</h3>
          <i class="fab fa-facebook-square"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-twitter-square"></i>
        </div>
      </div>
    </footer>
    <footer class="bottom-footer-area bg-dark text-right">
      <p class="bottom-text">Copyright ©  2010-2019 All rights reserved.</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../static/js/detail.js"></script>
  </body>
</html>
