<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>web</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light nav-area">
      <a href="/" >Pic Design</a>
      <div class="left-nav ">
        {% if session['loggedin'] %}
          <a href="/upload">upload</a>
          |
          <a href="/user/{{session['ids']}}">hello, {{session['username']}}!</a>
          |
          <a id="logout-button" href="/logout">logout</a>
        {% else %}
          <a href="/login">Login</a>
        {% endif %}
      </div>
    </nav>
    <header class="text-center top-header">
      <div class="container">
        <h1>Graphic resources for everyone</h1>
        <p>Find Free Vectors, Stock Photos, PSD and Icons</p>
        <div class="row">
          <div class="col-lg-7 mx-auto">
            <div class="input-group mb-3">
              <input type="text" class="form-control search-input" placeholder="Find your resources now">
              <div class="input-group-append">
                <button class="btn btn-primary search-button" type="button" ><i class="fas fa-search search-icon"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="filter-bar">
      <ul class="d-flex justify-content-center filter-list text-center">
        <li><button class="active">All resources</button></li>
        <li><button>Photos</button></li>
        <li><button>Vectors</button></li>
        <li><button>PSD</button></li>
      </ul>
    </section>
    <section class="stock-container-main text-center">
      <div class="stock-container masonry mx-auto">
        <!-- post-container js-->
      </div>
      <button class="view-more-button btn btn-primary my-2">View more</button>
    </section>

    <footer class="footer-area bg-dark">
      <div class="row">
        <div class="col-lg-3">
          <h3>CONTENT</h3>
          <p>New resources</p>
          <p>The most popular content</p>
          <p>Search trands</p>
          <p>Blog</p>
        </div>
        <div class="col-lg-3">
          <h3>INFORMATION</h3>
          <p>Plans & pricing</p>
          <p>About us</p>
          <p>Jobs</p>
          <p>Become a contributor</p>
          <p>Shutterstock promo code</p>
        </div>
        <div class="col-lg-3">
          <h3>LEGAL</h3>
          <p>Terms & conditions</p>
          <p>Privacy policy</p>
          <p>Copyright information</p>
          <p>Cookies policy</p>
        </div>
        <div class="col-lg-3">
          <h3>Social</h3>
          <i class="fab fa-facebook-square"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-twitter-square"></i>
        </div>
      </div>
    </footer>
    <footer class="bottom-footer-area bg-dark text-right">
      <p class="bottom-text">Copyright ©  2010-2019 All rights reserved.</p>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../static/js/index.js">

    </script>
  </body>
</html>
