<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/upload.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>upload</title>
  </head>
  <body>
    <section class="container upload-area">
      <div class="row text-center">
        <div class="card card-main col-lg-9 mx-auto">
          <h1 class="upload-title">Upload Some Thing Now! <i class="fas fa-paper-plane"></i></h1>
          <form method="post" enctype="multipart/form-data">
            <div class="form-group">
              <input class="form-control" type="text"  name="title" placeholder="Your Title" required>
            </div>
            <div class="custom-file">
              <input class="custom-file-input form-control" type="file" name='file'  id="image-input" required>
              <label class="custom-file-label text-left">Choose Thumbnail ...</label>
            </div>

            <div class="row type-area">
              <div class="form-group col-lg-7">
                <input class="form-control" type="url" name="link" placeholder="Your drive link eg: google drive, one drive, ..." required>
              </div>
              <div class="form-group col-lg-5">
                <select class="form-control" name="type" required>
                  <option selected value="photo">Photo</option>
                  <option value="vector">Vector</option>
                  <option value="psd">Psd</option>
                </select>
              </div>
            </div>

            <button type="submit" class="btn btn-primary form-control upload-button">Submit</button>
          </form>
        </div>
      </div>
    </section>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
      $('#image-input').on('change',function(){
          //get the file name
          var fileName = $(this).val().replace('C:\\fakepath\\', " ");
          //replace the "Choose a file" label
          $(this).next('.custom-file-label').html(fileName);
      })
    </script>
    <script src="../static/js/upload.js"></script>
  </body>
</html>
